:root {
    --studio-color: #2196F3;
    --text-color: #757575;
    --titel-color: #212121;
    --white-color: #FFFFFF;
    --background-footer: #2F303A;
    }

    /* Шапка */
body {background-color: #F5F5F5;}

a:visited {color: #212121;}
a {text-decoration:none}

ul {list-style: none;}


.web {
    color: var(--studio-color)
}

.studio-heder {
    color: #000000;
}

.navigation-link a:hover {color: var(--studio-color)}
.navigation-link a:focus {
    color: var(--studio-color)
}

.mail-tel a:hover {color: var(--studio-color)}
.mail-tel a:focus {
    color: var(--studio-color)
}

.mail-tel a{
    color: var(--text-color);
}

/* Main */
.main-titel {color: var(--white-color)}

.main-button {color: var(--white-color);
background-color: var(--studio-color);
border: none
}

.benefits h2{color: var(--titel-color)}

.benefits p {color: var(--text-color);}

.about-work {color: var(--titel-color);}

.team-titel {color: var(--titel-color);}

.team h1 {color: var(--titel-color);}

.team p {color: var(--text-color);}

/* Footer */

 .footerback {background-color: var(--background-footer);}

 .studio-footer {color: var(--white-color);}

 .adress-footer {color: var(--white-color);}

 .adress-footer a {color: rgba(255, 255, 255, 0.6);}
 








